# Ignore virtual environment
venv/

# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore IDE settings
.vscode/
.idea/

# Personal files and configurations
1.json
epicgamesV2.py
epic_games.json
epic_games.md
log.log